body, html {
    font-size: .85vw;
    margin: 0;
}

.navagation-container {
    height: 41px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
    display: flex;
    justify-content: space-between;
    padding: 0 clamp(0px, 4vw, 60px);
}

.navagation-left, .navagation-right {
    display: flex;
    align-items: center;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 9.5em;
    height: 2.5em;
    
}

.logo::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url('../images/netflix-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.tabbed-primary-navgation {
    display: flex;
    list-style: none;
    color: white;
}

.navgation-menu {

}

.searchTab {
    background: none;
    border: none;
    cursor: pointer;
    padding: 1px 6px;
  }
  
  .search-icon {
    width: 24px;
    height: 24px;
    color: white;
  }

.navgation-tab {
    margin-left: 18px;
}

@media screen and (min-width: 950px) {
    .logo {
        font-size: 25px;
    }
}

@media screen and (min-width: 950px) {
    .logo {
        width: 92.5px;
        height: 25px;
    }
}

@media screen and (min-width: 950px) {
    .navagation-container {
        height: 68px;
    }
}
    